@model UserQueryModel

<h4>User</h4>
<hr />
<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.UserName)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.UserName)
    </dd>
</dl>
<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.Active)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.Active)
    </dd>
</dl>
<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.BirthDate)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.BirthDate)
    </dd>
</dl>
<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.Sex)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.Sex)
    </dd>
</dl>
<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.RoleName)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.RoleName)
    </dd>
</dl>